:root {
  --max-width: 1280px;
  --font-size-1: 60px;
  --font-size-2: 45px;
  --font-size-3: 40px;
  --font-size-4: 28px;
}

@media (max-width: 1280px) {
  :root {
    --font-size-1: clamp(0px, 4.7vw, 60px);
    --font-size-2: clamp(0px, 3.5vw, 45px);
    --font-size-3: clamp(0px, 3.1vw, 40px);
    --font-size-4: clamp(0px, 2.2vw, 28px);
  }
}

@media (max-width: 1000px) {
  :root {
    --font-size-2: clamp(0px, 4.8vw, 20px);
    --font-size-3: clamp(0px, 4.5vw, 25px);
    --font-size-4: clamp(0px, 3.3vw, 16px);
  }
}

